<h1>Uploaded RSpec Test Code (by Employer/School)</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @testers.sort_by { |t| t.code}.each do |tester| %>
      <tr>
        <td><%= link_to tester.code, tester_path(tester), class: "button red" %></td>
        <td><%= link_to 'Show', tester, class: "button" %></td>
        <td><%= link_to 'Edit', edit_tester_path(tester), class: "button" %></td>
        <td><%= link_to 'Destroy', tester, method: :delete, data: { confirm: 'Are you sure?' }, class: "button" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Upload New RSpec Test', new_tester_path, class: "button black" %> 
<%= link_to 'Upload New Ruby Code', new_coder_path, class: "button black" %> 
<%= link_to 'All Ruby Code', coders_path, class: "button gray" %> 
<%= link_to 'REPL', root_path, class: "button pink" %>
