<h1>Uploaded Ruby Code (by Job Applicant/Student)</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @coders.sort_by { |c| c.code}.each do |coder| %>
      <tr>
        <td><%= link_to coder.code, coder_path(coder), class: "button red" %> </td>
        <td><%= link_to 'Edit', edit_coder_path(coder), class: "button" %> </td>
        <td><%= link_to 'Delete', coder, method: :delete, data: { confirm: 'Are you sure?' }, class: "button" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Upload New Ruby Code', new_coder_path, class: "button black" %> 
<%= link_to 'Upload New RSpec Test', new_tester_path, class: "button black" %> 
<%= link_to 'All RSpec Tests', testers_path, class: "button gray" %> 
<%= link_to 'Ruby Editor', root_path, class: "button pink" %>
