<script>
! function ($) {
    $(function () {
        window.prettyPrint && prettyPrint()
    })
}(window.jQuery)
</script>

<h1>Test <span data-id="<%= @coder.id %>" id="filename-code-runtest"><%= @coder.code %></span></h1>
<button id="edit-code-runtest" class="btn btn-warning">Edit Code</button>
<pre class="prettyprint lang-rb"><% @testresult.output_hash[:examples].each do |result| %><%= result[:full_description] %>
<%= result[:status] %>
<%= result[:exception][:message] if result[:exception] %>
<% end %>
<%= @testresult.output_hash[:summary_line] %></pre>

<script>
  $( "#edit-code-runtest" ).click(function( event ) {
    var url = "/coders/" + $('#filename-code-runtest').data("id") + "/edit";
    $.get(url, function( data ) {
      $("#code").html(data);
    });
  });
</script>