<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_coder_path(@coder) %> |
<%= link_to 'Back', coders_path %> | 
<%= link_to "Test This Code, BABY!", runtest_path(@coder) %>

<pre class="prettyprint lang-rb"><% File.open(Rails.root.to_s + "/public/code/" + @coder.code, "r").each_line do |line| %><%= line %><% end %></pre>