<p id="notice"><%= notice %></p>
<h1><span data-id="<%= @coder.id %>" id="filename-code-show"><%= @coder.code %></span></h1>
<button id="edit-code-show" class="btn btn-warning">Edit Code</button> <button id="test-code-show" class="btn btn-primary">Test Code</button> <%= link_to "Delete File", @coder, method: :delete, class: "btn btn-info" %>

<textarea class="my-code-code-show" rows="28" style="width: 90%">
<% File.open(Rails.root.to_s + "/public/code/" + @coder.code, "r").each_line do |line| %><%= line %><% end %>
</textarea>
<script>
  $('.my-code-code-show').ace({ theme: 'tomorrow_night_bright', lang: 'ruby' })
  var editor = $(".my-code-code-show").data('ace').editor.ace;
  editor.setReadOnly(true);
  editor.getSession().setUseWrapMode(true);   //turn on word wrap

  $( "#edit-code-show" ).click(function( event ) {
    var url = "/coders/" + $('#filename-code-show').data("id") + "/edit";
    $.get(url, function( data ) {
      $("#code").html(data);
    });
  });

  $( "#test-code-show" ).click(function( event ) {
    var url = "/coders/" + $('#filename-code-show').data("id") + "/runtest";
    $.get(url, function( data ) {
      $("#code").html(data);
    });
  });  

</script>